@keyframes scroll-x {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 16px));
    }
}

@keyframes scroll-y {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - 16px));
    }
}